<div class="page-header">
  <h1>Alle statusene</h1>
</div>

<%= link_to "Post en ny status", new_status_path, class: "btn btn-info" %> 

<% @statuses.each do |status| %>

<div class="status">
  <div class="row">
    <div class="span1">
      <%= image_tag status.user.gravatar_url %>
    </div>
    <div class="span7">
      <strong><%= status.user.full_name %></strong>
      <p><%= status.content %></p>
      <div class="meta">
        <%= link_to time_ago_in_words(status.created_at) + " siden", status %>
        <span class="admin"> |
          <%= link_to "Rediger", edit_status_path(status) %> |
          <%= link_to "Slett", status, method: :delete, data: { confirm: "Vil du virkelig slette denne statusen?"} %>
        </span>
      </div>
    </div>
  </div>
</div>


<% end %>